<!DOCTYPE html>
<html lang="en">

<head>

    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body style="background-color:#F5F5F5" >

    
    <div align="center"style="background-color:#0B4150" >
      <h1 style="color: #F5F5F5">Digit Recognizer</h1>
      <p style="color: #F5F5F5">Draw a single number from 0-9 and choose algorithm to be used</p>
    </div>
  <hr>
<div class="row" >
    

    
    <div class="col-3" style="  margin-left:5%">
    <h3 align='center'>Algorithm output</h3>
    
    <h4>Algorithm: 
        <nobr>
            <h3 style="display:inline" id="_algorithm"></h3>
        </nobr> 
    </h4>
    <h4 >Prediction: 
        <nobr>
            <h3 style="display:inline" id="prediction"></h3>
        </nobr> 
    </h4>
    <h4>Confidence: 
        <nobr>
            <h3 style="display:inline" id="confidense"></h3>
        </nobr>
    </h4>
    <select id='algorithm' class="form-control" style="margin-top:10%">
        <option value='CNN'>Convolutional Neural Network</option>
        <option value='DNN'>Dense Neural Network</option>
        <!--<option value='TBD'>TBD:Algorithm</option>-->
        </select>
    </div>
   <canvas id="canvas" height="300px" width="300px" style="border:1px solid #000000; margin-left:2%"></canvas>
       
    <div align="center" class="col-5" style="">
    <h2>Howto</h2>
        <ol align="left">
            <li>Draw a number between 0-9</li>
            <li>Choose an algorithm to predict the image</li>
            <li>Click PREDICT and observe prediction and confidence on the left</li>
            <li>Optional: Without clearing the canvas, choose another algorithm and see what it predicts!</li>
        </ol>
        <p>Networks are trained with MNIST digit dataset(with augmentation) with accuracies 95> percent.</p>

 <input type="submit" value='Predict' class="btn btn-primary" onclick="save()">
        <input type="submit" id='clear' value='Clear' class="btn btn-primary">
  </div>

</div>
<div align="center" style="width:100%; margin-top:2.5%">
    
       
</div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script> 


    
//canvas = document.getElementById('canvas')
context = document.getElementById('canvas').getContext("2d");
context.fillStyle = "black"
context.fillRect(0, 0, canvas.width, canvas.height);
//var dataURL = canvas.toDataURL('image/png');

    
function save(){ 
 	  var canvas = document.getElementById('canvas'); 
      var dataURL = canvas.toDataURL()
      var algorithm = $('#algorithm').val();
 	  //document.getElementById('image').value = canvas.toDataURL('image/png');
 	  //document.forms["form1"].submit(); 
      $.ajax({
        type: "POST",
        url: "/upload-image",
        data:{
            imageBase64: dataURL,
            algorithm: algorithm,
            },
        success:function(response_data){
            view_data = response_data;
            console.log(view_data);
            $('#_algorithm').html(algorithm)
            $('#prediction').html(view_data['prediction'])
            $('#confidense').html(view_data['confidense']+'%')
            console.log('Kommer her')
        }
        }).done(function() {
            console.log('sent');
        });
    } 


$('#canvas').mousedown(function(e){
  var mouseX = e.pageX - this.offsetLeft;
  var mouseY = e.pageY - this.offsetTop;
		
  paint = true;
  addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop);
  redraw();
});
    
$('#canvas').mousemove(function(e){
  if(paint){
    addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop, true);
    redraw();
  }
});
 $('#canvas').mouseup(function(e){
  paint = false;
});
 $('#canvas').mouseleave(function(e){
  paint = false;
});
var clickX = new Array();
var clickY = new Array();
var clickDrag = new Array();
var paint;
document.getElementById('clear').addEventListener('click', function() {
    context.fillRect(0, 0, canvas.width, canvas.height);
    clickX = new Array()
    clickY = new Array()

      });
    
function addClick(x, y, dragging){
  clickX.push(x);
  clickY.push(y);
  clickDrag.push(dragging);
}

function redraw(){

  context.clearRect(0, 0, context.canvas.width, context.canvas.height); // Clears the canvas
  context.fillStyle = "black"
  context.fillRect(0, 0, canvas.width, canvas.height);
  context.strokeStyle = "white";
  context.lineJoin = "round";
  context.lineWidth = 30;
			
  for(var i=0; i < clickX.length; i++) {		
    context.beginPath();
    if(clickDrag[i] && i){
      context.moveTo(clickX[i-1], clickY[i-1]);
     }else{
       context.moveTo(clickX[i]-1, clickY[i]);
     }
     context.lineTo(clickX[i], clickY[i]);
     context.closePath();
     context.stroke();
  }
}
</script>
     


</html>

